{% extends "base_bootstrap.html" %}
{% load static %}
{% load humanize %}
{% block navbar %}<p class="border-3 border-top border-info"></p>{% endblock %}
{% block content %}
<style>
        .footer .col-6 p {
            margin: 5px 0;
        }
</style>
<div class="border-bottom flex-column border-2 border-success d-flex p-3">
    <h2 class="fw-bold text-wrap mb-0 text-light">{{ invoice.is_quotation|yesno:"Quotation,Invoice" }} for {{ invoice.client.name }}</h2>
    <div class="d-flex ms-auto align-items-center">
        <small class="me-2 text-nowrap text-muted">
            ({{ invoice.updated_at|naturaltime }})
        </small>
        <a href="{% url 'invoice_app:invoice-update' invoice.pk %}" class="btn btn-outline-secondary btn-sm me-1">
            <i class="fa fa-pencil"></i>
        </a>
        <a href="{% url 'invoice_app:invoice-delete' invoice.pk %}" class="btn btn-outline-danger btn-sm">
            <i class="fa fa-trash"></i>
        </a>
    </div>
</div>

<div class="container text-light">
    <!-- Client and Invoice Details -->
    <div class="row mb-3">
        <div class="col-md-6 mt-2">
            <p class="mb-0 fw-bold">Client:</p>
            <p class="mb-0">{{ invoice.client }}</p>
            {% if invoice.client.address %}
                <p class="mb-0"><small>{{ invoice.client.address }}</small></p>
            {% endif %}
            {% if invoice.client.phone %}
                <p class="mb-0"><small><strong>Phone: </strong>{{ invoice.client.phone }}</small></p>
            {% endif %}
            {% if invoice.client.ntn_number %}
                <p class="mb-0"><small><strong>NTN No: </strong>{{ invoice.client.ntn_number }}</small></p>
            {% endif %}
        </div>
        <div class="col-md-6 text-md-end mt-3">
            <p class="fw-bold mb-0">{{ invoice.is_quotation|yesno:"Quotation,Invoice" }} Details:</p>
            <p class="mb-0"><small><strong>Ref #:</strong> {{ invoice.reference_number }}</small></p>
            <p class="mb-0"><small><strong>Date:</strong>
                {% if invoice.date %}
                    {{ invoice.date|date:"Y-m-d" }}
                {% else %}
                    {{ invoice.created_at|date:"Y-m-d" }}
                {% endif %}
            </small></p>
        </div>
    </div>

    <!-- Invoice Items Table -->
    <div class="mb-2">
        <table class="table table-bordered table-striped table-dark">
            <thead class="table-light">
                <tr class="text-center">
                    <th class="col-1">#</th>
                    <th class="col-6">Name</th>
                    <th class="col-2">Quantity</th>
                    <th class="col-2">Unit</th>
                    <th class="col-2">Unit Price</th>
                    <th class="col-2">Total Price</th>
                    {% if invoice.items.first and invoice.items.first.item_tax_percentage %}
                        <th class="col-2">Tax %</th>
                        <th class="col-2">After Tax</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for item in invoice.items.all %}
                    <tr>
                        <td class="text-center">{{ forloop.counter }}</td>
                        <td>
                            {{ item.name }}
                            {% if item.description %}
                                <br>
                                <small class="text-muted">{{ item.description }}</small>
                            {% endif %}
                        </td>
                        <td class="text-center">{{ item.quantity }}</td>
                        <td class="text-center">{{ item.unit }}</td>
                        <td class="text-center">{{ item.unit_price }}</td>
                        <td class="text-center">{{ item.total_price }}</td>
                        {% if item.item_tax_percentage %}
                            <td class="text-center">{{ item.item_tax }} ({{ item.item_tax_percentage }}%)</td>
                            <td class="text-center">{{ item.after_tax }}</td>
                        {% endif %}
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="8" class="text-center text-danger">No items for this {{ invoice.is_quotation|yesno:"quotation,invoice" }}.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Invoice Summary -->
    <table class="table table-bordered table-dark">
        <tbody>
            <tr>
                <td>
                    <strong>Total (Rs) </strong>
                {% if invoice.tax_percentage or invoice.is_taxed %}
                    <small class="text-muted"> incl. tax</small>
                </td>
                    <td class="text-end fw-bold">{{ invoice.grand_total }}</td>
                {% else %}
                </td>
                    <td class="text-end fw-bold">{{ invoice.total_price }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <!-- Footer Section -->
    <div class="d-flex text-nowrap gap-2">
        <a href="{% url 'invoice_app:invoice-pdf' invoice.pk %}" class="btn btn-outline-primary btn-sm">
            View PDF <i class="fa fa-file-pdf"></i>
        </a>
        <a class="btn btn-outline-secondary btn-sm" href="{% url 'invoice_app:invoice-list' %}">
            All invoices <i class="fa fa-bars"></i>
        </a>
    </div>
</div>
{% endblock %}
