{% extends "base_bootstrap.html" %}
{% block title %}Invoice List{% endblock %}
{% block navbar %}<p class="border-3 border-top border-info"></p>{% endblock %}
{% block content %}
<h1 class="fw-bold text-center my-3">Invoice List</h1>

<!-- Search Form -->
<div class="mb-3">
  <form>
    <div class="d-flex align-items-center">
      <input class="form-control form-control-sm border me-2" type="text" placeholder="Search Invoice (date, reference, description, or client)" name="search"
      {% if search %} value="{{ search }}" {% endif %} style="outline: none; box-shadow: none;">
      <button class="btn btn-outline-light btn-sm" type="submit"><i class="fa fa-search"></i></button>
      <a class="ms-2 btn btn-outline-secondary btn-sm" href="{% url 'invoice_app:invoice-list' %}"><i class="fa fa-undo"></i></a>
    </div>
  </form>
</div>

<!-- User Action Buttons -->
<div class="d-flex justify-content-between mt-2 mb-4">
  <!-- Create New Invoice Button -->
  <a href="{% url 'invoice_app:invoice-create' %}" class="btn btn-outline-success fw-bold flex-grow-1 btn me-1 btn-sm">
    Create New Invoice <i class="fa fa-plus"></i>
  </a>

  <!-- Dropdown -->
  <div class="btn-group">
    <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Options
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" href="{% url 'invoice_app:client-list' %}">Clients
          <i class="ms-1 fa fa-users"></i> 
        </a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'logout' %}?next={% url 'invoice_app:invoice-list' %}">Logout
          <i class="ms-1 fa fa-sign-out"></i> 
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- Invoice List -->
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4">
  {% for invoice in invoice_list %}
    <div class="col">
      <div class="card shadow-lg border-0 bg-dark text-light">
        <div class="card-body">
          <p class="card-text text-muted float-end fw-bold">
              {% if invoice.is_quotation %}
                <small>Quotation</small>
              {% endif %}
          </p>
          <h5 class="card-title">{{ invoice.client }}</h5>
          <p class="card-text text-muted">
            <small><strong>Reference:</strong> {{ invoice.reference_number }}</small>
          </p>
          
          {% for item in invoice.items.all %}
            <p class="card-text text-truncate">
              <small><strong>{{ item.name }}</strong>: 
                {{ item.quantity.normalize }} {{ item.unit }} x {{ item.unit_price.normalize }} Rs = {{ item.total_price.normalize }} Rs
              </small>
            </p>
          {% empty %}
            <p class="card-text text-danger">
              <small>No items for this {{ invoice.is_quotation|yesno:"quotation,invoice" }}</small>
            </p>
          {% endfor %}
          
          <p class="card-text text-muted">
            <small><strong>Date: </strong>
              {% if invoice.date %}
                {{ invoice.date|date:"Y-m-d" }}
              {% else %}
                {{ invoice.created_at|date:"Y-m-d" }}
              {% endif %}
            </small>
          </p>
          <p class="card-text text-muted">
            <small>
              <strong>Total:</strong>
              {% if invoice.tax_percentage or invoice.is_taxed %}
                {{ invoice.grand_total.normalize }}
                <small class="text-muted"> (incl. tax)</small>
              {% else %}
                {{ invoice.total_price.normalize }}
              {% endif %}
            </small>
          </p>

          <div class="d-flex gap-2 mt-3">
            <a href="{% url 'invoice_app:invoice-detail' invoice.pk %}" class="btn btn-outline-success btn-sm w-100">
              View Details <i class="fa fa-info-circle"></i>
            </a>
          </div>
          <div class="d-flex gap-2 mt-2">
            <a href="{% url 'invoice_app:invoice-pdf' invoice.pk %}" class="btn btn-outline-primary btn-sm w-100">
              View PDF <i class="fa fa-file-pdf"></i>
            </a>
            <a href="{% url 'invoice_app:invoice-update' invoice.pk %}" class="btn btn-outline-secondary btn-sm w-100">
              Edit <i class="fa fa-pencil"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<!-- Display this message only when there are no invoices -->
{% if not invoice_list %}
  <div class="row">
    <div class="col-12 mt-4 text-center text-danger fw-bold">
      <p>No invoices or quotations found.</p>
    </div>
  </div>
{% endif %}
</div>
{% endblock %}
