annotated-types==0.7.0
asgiref==3.7.2
Brotli==1.1.0
certifi==2023.7.22
cffi==1.17.1
charset-normalizer==3.2.0
contextlib2==21.6.0
crispy-bootstrap5==0.7
cryptography==41.0.6
cssselect2==0.7.0
defusedxml==0.7.1
Django==4.2.7
django-cors-headers==4.6.0
django-crispy-forms==2.0
django-environ==0.11.2
django-extensions==3.2.3
django-filter==23.2
django-ninja==1.3.0
django-ninja-extra==0.22.3
django-ninja-jwt==5.3.5
django-ratelimit==4.1.0
django-taggit==4.0.0
djangorestframework==3.14.0
fonttools==4.55.0
idna==3.4
importlib-metadata==6.8.0
injector==0.22.0
Markdown==3.4.3
oauthlib==3.2.2
pillow==10.4.0
psycopg2-binary==2.9.10
pycparser==2.21
pydantic==2.10.6
pydantic_core==2.27.2
pydyf==0.11.0
PyJWT==2.7.0
pyphen==0.15.0
python3-openid==3.2.0
pytz==2023.3
requests==2.31.0
requests-oauthlib==1.3.1
social-auth-app-django==5.2.0
social-auth-core==4.4.2
sqlparse==0.4.4
tinycss2==1.4.0
tinyhtml5==2.0.0
typing_extensions==4.12.2
urllib3==2.0.7
weasyprint==63.0
webencodings==0.5.1
whitenoise==6.4.0
zipp==3.15.0
zopfli==0.2.3.post1
