{% extends "base_bootstrap.html" %}
{% load humanize %} <!-- https://docs.djangoproject.com/en/4.2/ref/contrib/humanize -->
{% block content %}
<div class='border-bottom border-2 border-success d-flex align-items-center p-3'>
    <h2>Invoice for {{ invoice.client }}</h2>
    <span class='float-end ms-auto'>
    <small>
        ({{ invoice.updated_at|naturaltime }})
    </small>
    <a href="{% url 'invoice_app:invoice-update' invoice.pk %}" class="btn btn-secondary btn-sm"><i class="fa fa-pencil"></i></a>
    <a href="{% url 'invoice_app:invoice-delete' invoice.pk %}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
    </span>
</div>
<div class='p-4'>
    <p>Description:<strong> {{ invoice.description }}</strong></p>
    <p>Quantity:<strong> {{ invoice.quantity }}</strong></p>
    <p>Unit Price:<strong> {{ invoice.unit_price }} Rs</strong></p>
    <p>Total Price:<strong> {{ invoice.total_price }} Rs</strong></p>
    <p>Tax Percentage:<strong> {{ invoice.tax_percentage }}%</strong></p>
    <p>Grand Total (inclusive tax):<strong> {{ invoice.grand_total }} Rs</strong></p>
    <p>
    <p>Created At:<strong> {{ invoice.created_at }}</strong></p>
    <p>Last Updated At:<strong> {{ invoice.updated_at }}</strong></p>
    <a class="btn btn-primary btn-sm" href="{% url 'invoice_app:invoice-pdf' invoice.pk%}">View PDF</a>
    <a class="btn btn-secondary btn-sm" href="{% url 'invoice_app:invoice-list' %}">All invoices</a>
    </p>
</div>
{% endblock %}