{% extends "base_bootstrap.html" %}
{% load crispy_forms_tags %}
{% block title %}Create/Edit Invoice{% endblock %}
{% block content %}
<h1>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Invoice</h1>
<p>
  <form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary btn-sm">Save <i class="fa fa-save"></i></button>
    <button type="submit" class="btn btn-dark text-danger border border-danger btn-sm" value="Cancel" onclick="window.location.href='{% url 'invoice_app:invoice-list' %}';return false;">Cancel <i class="fa fa-times"></i></button>
  </form>
</p>
{% endblock %}